@font-face {
  font-family: "Alegreya Sans";
  src: url("../fonts/alegreyasans-bold-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../fonts/alegreyasans-italic-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../fonts/alegreyasans-light-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../fonts/alegreyasans-medium-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Alegreya Sans";
  src: url("../fonts/alegreyasans-regular-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul, li, p {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

a {
  color: inherit;
}

.options {
  line-height: 1.2;
}

.options__list {
  display: flex;
  align-items: flex-start;
}
.options__list .options__list-item {
  margin-right: 35px;
}
.options__list .options__list-item:last-child {
  margin-right: 0;
}

.option {
  display: flex;
  align-items: flex-start;
}
.option .option__img {
  width: 45px;
  margin-right: 9px;
}
.option .option__container {
  font-size: 16px;
  max-width: 85px;
}

.button {
  display: inline-block;
  font-size: 19px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  padding: 18px 35px;
  border-radius: 100px;
}

.button--type--primary {
  background-color: #2e4e3f;
  color: white;
}
.button--type--primary:hover {
  background-color: white;
  color: #2e4e3f;
}

.button--type--secondary {
  background-color: white;
  color: #2e4e3f;
}
.button--type--secondary:hover {
  background-color: #2e4e3f;
  color: white;
}

.button--type--reset {
  color: #2e4e3f;
  text-transform: none;
}
.button--type--reset:hover {
  color: black;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__phone {
  margin-top: -6px;
}

.logo {
  width: 53px;
}

.logo__img {
  width: 100%;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__list-item {
  margin-right: 29px;
}
.menu__list-item:last-child {
  margin-right: 0;
}
.menu__list-item .menu__link {
  text-decoration: none;
}

.phone {
  font-size: 24px;
  text-decoration: none;
  line-height: 1.25;
  display: flex;
  align-items: center;
}
.phone .phone__img {
  width: 12px;
  height: 12px;
  margin-right: 6px;
}

.hero {
  flex: 1;
}
.hero .hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("./../../images/decor/chocolates.png") right center/50% auto no-repeat;
}
.hero .hero__content {
  margin-top: 72px;
  width: 350px;
}
.hero .hero__content .hero__title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}
.hero .hero__content .hero__description {
  margin-top: 7px;
  font-size: 21px;
  line-height: 1.2;
}
.hero .hero__content .hero__button {
  margin-top: 33px;
}
.hero .hero__additional {
  margin-bottom: 45px;
}

.section {
  background-color: white;
  color: #666666;
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section .section__title {
  font-size: 48px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-align: center;
}
.section--theme--green {
  color: #365a49;
}
.section--theme--green .section__title {
  color: inherit;
}

.why {
  background: url("./../images/decor/side-leaf.png") left center no-repeat;
  position: relative;
}
.why .why__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why .why__header .why__subtitle {
  width: 45%;
  text-align: center;
}
.why .why__list {
  margin-top: 50px;
  display: flex;
}
.why .why__list .why__list-item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}
.why .why__list .why__list-item:first-child {
  padding-left: 0;
}
.why .why__list .why__list-item:last-child {
  padding-right: 0;
}
.why .why__list .why__list-item:last-child::after {
  display: none;
}
.why .why__list .why__list-item::after {
  content: url("./../images/7.png");
  position: absolute;
  top: 52px;
  right: 0;
  transform: translateX(50%);
}
.why::after {
  content: url("./../images/decor/raspberry.png");
  position: absolute;
  bottom: -110px;
  left: 0;
  z-index: 10;
}

.why-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-feature .why-feature__img-container {
  background-color: #f2f5f4;
  border-radius: 50%;
  width: 126px;
  height: 126px;
  position: relative;
}
.why-feature .why-feature__img-container .why-feature__img {
  width: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.why-feature .why-feature__title {
  font-size: 27px;
  font-weight: bold;
  color: black;
  margin-top: 27px;
}
.why-feature .why-feature__description {
  text-align: center;
  margin-top: 14px;
}

.reviews {
  position: relative;
}
.reviews::after {
  content: url("./../../images/decor/berries2.png");
  position: absolute;
  left: 4px;
  bottom: -84px;
  z-index: 10;
}
.reviews::before {
  content: url("./../../images/decor/pattern.png");
  position: absolute;
  left: 0px;
  bottom: -159px;
  z-index: 10;
}
.reviews .reviews_decor {
  position: absolute;
  top: 36px;
  right: 20px;
  z-index: 10;
}
.reviews .reviews__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 23px;
}
.reviews .review {
  background: url("./../images/decor/berries.png") top right no-repeat;
  background-color: #f8faf9;
  display: flex;
  padding: 50px 180px 35px 45px;
  overflow: hidden;
  position: relative;
}
.reviews .review::before {
  content: "";
  display: block;
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -65px;
}
.reviews .review .review__img-container {
  width: 254px;
  height: 260px;
  flex: 0 0 auto;
  overflow: hidden;
  margin-right: 20px;
}
.reviews .review .review__img-container .review__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reviews .review .review__content .review__title {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-top: 10px;
}
.reviews .review .review__content .review__description {
  margin-top: 18px;
  line-height: 1.25;
}
.reviews .review .review__content .review__author {
  color: black;
  font-weight: 500;
  margin-top: 26px;
}

.avatar-list {
  display: flex;
  margin-top: 23px;
}

.avatar {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar:hover, .avatar--active {
  background-color: #0f5a47;
}
.avatar .avatar__link {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  display: block;
}
.avatar .avatar__link .avatar__img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
}
.form .form__col {
  flex: 1;
  margin-right: 20px;
}
.form .form__col:last-child {
  margin-right: 0;
}
.form .form__col .form__row {
  display: flex;
}
.form .form__col .form__row .form__block {
  flex: 1;
  margin-top: 16px;
  margin-right: 20px;
}
.form .form__col .form__row .form__block:last-child {
  margin-right: 0;
}
.form .form__col .form__row .form__controls {
  display: flex;
  flex-wrap: wrap;
}
.form .form__col .form__row .form__buttons {
  margin-top: 38px;
}
.form .form__input-text {
  padding: 18px 11px;
  border: solid 3px transparent;
  width: 100%;
}
.form .form__input-text:focus {
  border: solid 3px #dee2bd;
  outline: none;
}
.form .form__textarea {
  padding: 18px 11px;
  border: solid 3px transparent;
  width: 100%;
  height: 180px;
  resize: none;
}
.form .form__textarea:focus {
  border: solid 3px #dee2bd;
  outline: none;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 20px;
}
.radio:last-child {
  margin-right: 0;
}
.radio .radio__elem {
  display: none;
}
.radio .radio__elem:checked ~ .radio__visible::before {
  display: block;
}
.radio .radio__visible {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: relative;
  background-color: white;
  margin-right: 9px;
}
.radio .radio__visible::before {
  content: "";
  display: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #365a49;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  background: url("./../../images/icons/tick.png") center center no-repeat;
}

.delivery {
  background: url("./../../images/decor/form-pattern.png") center center/cover no-repeat;
  position: relative;
}
.delivery::after {
  content: url("./../../images/decor/blueberry.png");
  position: absolute;
  left: 1.8%;
  bottom: 12%;
  z-index: 10;
}
.delivery::before {
  content: url("./../../images/decor/delivery-leaf.png");
  position: absolute;
  right: 1%;
  bottom: 12%;
  z-index: 10;
}
.delivery .delivery__content {
  margin-top: 20px;
}

.delivery-form__radio {
  margin-top: 18px;
}

.delivery-form__checkbox {
  margin-top: 10px;
}

.fixed-menu {
  position: fixed;
  top: 32%;
  right: 4%;
  z-index: 100;
}
.fixed-menu .fixed-menu__list-item {
  margin-top: 5px;
}
.fixed-menu .fixed-menu__list-item:first-child {
  margin-top: 0;
}
.fixed-menu .fixed-menu__list-item--active .fixed-menu__link {
  border-color: white;
}
.fixed-menu .fixed-menu__link {
  display: block;
  width: 16px;
  height: 16px;
  border: solid 1px transparent;
  border-radius: 50%;
  position: relative;
}
.fixed-menu .fixed-menu__link::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: "Alegreya Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.42;
  color: #666666;
  background-color: white;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../images/decor/leaf.png") right bottom no-repeat;
  background-color: #61c4d9;
  color: white;
  height: 100vh;
  min-height: 650px;
  position: relative;
}
.main-section::before {
  content: url("../images/decor/little-leaf.png");
  position: absolute;
  bottom: -50px;
  left: 2.5%;
}
.main-section::after {
  content: url("../images/decor/leafs-and-berries.png");
  position: absolute;
  bottom: -45px;
  right: 1.5%;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}