@import "layout/fonts.scss";
@import "layout/variables.scss";
@import "layout/media.scss";
@import "layout/base.scss";

@import "blocks/options.scss";
@import "blocks/button.scss";
@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/menu.scss";
@import "blocks/phone.scss";
@import "blocks/hero.scss";
@import "blocks/section.scss";
@import "blocks/why.scss";
@import "blocks/why-feature.scss";
@import "blocks/reviews.scss";
@import "blocks/avatar-list.scss";
@import "blocks/avatar.scss";
@import "blocks/form.scss";
@import "blocks/radio.scss";
@import "blocks/delivery.scss";
@import "blocks/delivery-form.scss";
@import "blocks/fixed-menu.scss";
@import "blocks/hamburger-link.scss";
// @import "blocks/button.scss";
// @import "blocks/button.scss";
// @import "blocks/button.scss";
// @import "blocks/button.scss";

html {
  font-size: $baseFontSize;

  @include tablets {
    font-size: $baseFontSize - 1px;
  }

  @include phones {
    font-size: $baseFontSize - 2px;
  }
}

body {
  font-family: 'Alegreya Sans', Arial, sans-serif;
  line-height: 1.42;
  color: #666666;
  background-color: white;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  background: url('../images/decor/leaf.png') right bottom no-repeat;
  background-color: $blue;
  color: white;

  height: 100vh;
  min-height: 650px;

  position: relative;

  @include tablets {
    background-position: right bottom 86%;
  }
  
  &::before {
    content: url('../images/decor/little-leaf.png');
    position: absolute;
    bottom: rem(-50px);
    left: 2.5%;
  }

  &::after {
    content: url('../images/decor/leafs-and-berries.png');
    position: absolute;
    bottom: rem(-45px);
    right: 1.5%;
  }

  &::before, &::after {
    @include tablets {
      display: none;
    }
  }
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}