$baseFontSize: 18px;

// Colors
$lightBlue: #c6f7ff;
$blue: #61c4d9;
$darkGreen: #2e4e3f;
$green: #365a49;
$lightBlack: #2e2e2d;

// Z-indexes
$z-decoration: 10;
$z-fixed-menu: 100;

// Breakpoints
$tablets: 768px;
$phones: 480px;