.avatar {
  width: rem(78px);
  height: rem(78px);
  border-radius: 50%;
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &--active {
    background-color: #0f5a47;
  }

  .avatar__link {
    width: rem(66px);
    height: rem(66px);
    border-radius: 50%;
    overflow: hidden;
    display: block;

    .avatar__img {
      object-fit: cover;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}