.button {
  display: inline-block;
  font-size: rem(19px);
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  padding: rem(18px) rem(35px);
  border-radius: rem(100px);
}

.button--type--primary {
  background-color: $darkGreen;
  color: white;

  &:hover {
    background-color: white;
    color: $darkGreen;
  }
}

.button--type--secondary {
  background-color: white;
  color: $darkGreen;

  &:hover {
    background-color: $darkGreen;
    color: white;
  }
}

.button--type--reset {
  color: $darkGreen;
  text-transform: none;

  &:hover {
    color: black;
  }
}