.button {
  display: inline-block;
  font-size: 19px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  padding: 18px 35px;
  border-radius: 100px;
}

.button--type--primary {
  background-color: $darkGreen;
  color: white;

  &:hover {
    background-color: white;
    color: $darkGreen;
  }
}

.button--type--secondary {
  background-color: white;
  color: $darkGreen;

  &:hover {
    background-color: $darkGreen;
    color: white;
  }
}

.button--type--reset {
  color: $darkGreen;
  text-transform: none;

  &:hover {
    color: black;
  }
}