.delivery-form__radio {
  margin-top: rem(18px);

  @include tablets {
    margin-top: rem(13px);
  }
}

.delivery-form__checkbox {
  margin-top: rem(10px);

  @include tablets {
    margin-top: rem(5px);
  }
}