@mixin form__input-text {
  padding: rem(18px) rem(11px);
  border: solid 3px transparent;
  width: 100%;

  &:focus {
    border: solid 3px #dee2bd;
    outline: none;
  }

  @include tablets {
    padding: rem(5px) rem(11px);
  }
}

.form {
  display: flex;
  
  @include tablets {
    flex-direction: column;
  }

  .form__col {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
      margin-right: 0;
    }

    @include tablets {
      margin-right: 0;
    }

    .form__row {
      display: flex;

      .form__block {
        flex: 1;
        margin-top: rem(16px);
        margin-right: rem(20px);
        
        &:last-child {
          margin-right: 0;
        }
      }

      .form__controls {
        display: flex;
        flex-wrap: wrap;

        @include phones {
          margin-left: auto;
          margin-right: auto;
        }
      }

      .form__buttons {
        margin-top: rem(38px);

        @include tablets {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .form__input-text {
    @include form__input-text;
  }

  .form__textarea {
    @include form__input-text;
    height: rem(180px);
    resize: none;

    @include tablets {
      height: rem(80px);
    }
  }
}