.hamburger-link {
  width: 24px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;

  @include tablets {
    display: inline-flex;
  }

  &__plank {
    height: 4px;
    display: block;
    background: white;
    border-radius: 10px;
  }
}