.header {
  padding-top: rem(24px);
  padding-bottom: rem(24px);

  line-height: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.phone.header__phone {
  margin-top: rem(3px);

  @include tablets {
    display: none;
  }
}

.hamburger-link.header__hamburger-link {
  margin-top: rem(8px);
}