.hero {
  flex: 1;

  .hero__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url('./../../images/decor/chocolates.png') right center / 50% auto no-repeat;
  }

  .hero__content {
    margin-top: rem(72px);
    width: rem(350px);

    .hero__title {
      font-size: rem(48px);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
    }
  
    .hero__description {
      margin-top: rem(7px);
      font-size: rem(21px);
      line-height: 1.2;
    }

    .hero__button {
      margin-top: rem(33px);
    }
  }

  .hero__additional {
    margin-bottom: rem(45px);
  }
}