.menu__list {
  display: flex;
  align-items: center;
}

.menu__list-item {
  margin-right: 29px;
}
.menu__list-item:last-child {
  margin-right: 0;
}
.menu__list-item .menu__link {
  text-decoration: none;
}