.options {
  line-height: 1.2;
}

.options__list {
  display: flex;
  align-items: flex-start;

  .options__list-item {
    margin-right: rem(35px);

    &:last-child {
      margin-right: 0;
    }
  }
}

.option {
  display: flex;
  align-items: flex-start;

  .option__img {
    width: rem(45px);
    margin-right: rem(9px);
  }
  
  .option__container {
    font-size: rem(16px);
    max-width: rem(85px);
  }
}