.reviews {
  position: relative;

  &::after {
    content: url('./../../images/decor/berries2.png');
    position: absolute;
    left: rem(4px);
    bottom: rem(-84px);
    z-index: $z-decoration;
  }

  &::before {
    content: url('./../../images/decor/pattern.png');
    position: absolute;
    left: rem(0px);
    bottom: rem(-159px);
    z-index: $z-decoration;
  }

  .reviews_decor {
    position: absolute;
    top: rem(36px);
    right: rem(20px);
    z-index: $z-decoration;
  }

  .reviews__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(23px);
  }

  .review {
    background: url('./../images/decor/berries.png') top right no-repeat;
    background-color: #f8faf9;
    display: flex;
    padding: rem(50px) rem(180px) rem(35px) rem(45px);
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: rem(90px);
      height: rem(90px);
      background-color: white;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: rem(-65px);
    }

    @include tablets {
      flex-direction: column;
      align-items: center;
      padding: rem(50px) rem(20px) rem(35px) rem(20px);
    }

    .review__img-container {
      width: rem(254px);
      height: rem(260px);
      flex: 0 0 auto;
      overflow: hidden;
      margin-right: rem(20px);

      @include tablets {
        width: rem(130px);
        height: rem(132.5px);
        margin-right: 0;
      }
  
      .review__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .review__content {
      text-align: center;

      .review__title {
        font-size: rem(30px);
        font-weight: bold;
        color: black;
        margin-top: rem(10px);

        @include tablets {
          margin-top: rem(29px);
        }
      }

      .review__description {
        margin-top: rem(18px);
        line-height: 1.25;

        @include tablets {
          margin-top: rem(13px);
        }
      }

      .review__author {
        color: black;
        font-weight: 500;
        margin-top: rem(26px);

        @include tablets {
          margin-top: rem(19px);
        }
      }
    }
  }
}