.why-feature {
  display: flex;
  flex-direction: column;
  align-items: center;

  .why-feature__img-container {
    background-color: #f2f5f4;
    border-radius: 50%;
    width: rem(126px);
    height: rem(126px);
    position: relative;

    .why-feature__img {
      width: rem(70px);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .why-feature__title {
    font-size: rem(27px);
    font-weight: bold;
    color: black;
    margin-top: rem(27px);
  }

  .why-feature__description {
    text-align: center;
    margin-top: rem(14px);
  }
}